{% load i18n %}
{% load allauth %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% if not SOCIALACCOUNT_ONLY %}<div class="relative my-1 mb-2 flex items-center"><div class="h-px flex-grow bg-zinc-200 dark:bg-zinc-800"></div><span class="px-3 text-sm text-zinc-400 dark:text-zinc-600">Or</span><div class="h-px flex-grow bg-zinc-200 dark:bg-zinc-800"></div></div>{% endif %}
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
