Verity/verity_service_account.json
verity_service_account.json
.ruff_cache

# Environment variables
.env
venv/
*venv/
build/
dist/
!theme/static/css/dist/
!theme/static/css/dist/**/*
*.egg-info/
.posthog-wizard-cache

# Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cache
*_cache

# Django artifacts
*.db
*.db.sqlite3
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
media/
staticfiles/

# macOS
.DS_Store

# Editor and IDE
.idea/
.vscode/
.zed/

# Logs
*.log

# Coverage
.coverage
.coverage.xml
htmlcov/

# Node
node_modules/
