{% extends "account/email/base_message.html" %}
{% load i18n %}
{% block content %}
    <p>
        {% blocktrans %}You are receiving this email because you or someone else tried to sign up for an account using email address: {% endblocktrans %}
        <strong>{{ email }}</strong>
    </p>
    <p>
        {% blocktrans %}However, an account using that email address already exists. In case you have forgotten about this, you can sign in directly by requesting a secure login link on our sign-in page.{% endblocktrans %}
    </p>
{% endblock content %}
