{% extends 'documents/upload_base.html' %}
{% block upload_footer %}
    <hr class="mt-7 w-xs text-zinc-200 dark:text-zinc-800">
    <a href="{% url 'records:record_detail' record.id %}"
       class="mt-4 rounded-4xl border border-zinc-300 bg-zinc-100 px-4 py-1 text-sm text-zinc-600 transition-all duration-200 hover:bg-zinc-200 hover:text-zinc-900 dark:border-zinc-600 dark:bg-zinc-800 dark:text-white dark:hover:bg-zinc-700 dark:hover:text-zinc-100">
        Finish Uploading
    </a>
{% endblock upload_footer %}
